<nav class="secondary-navigation">
  <ul>
    <li><%= link_to "About", "/about/index.html" %></li>
    <li><%= link_to "Our Name and Values", "/about/our-name-and-values.html" %></li>
    <li><%= link_to "Platform", "/about/platform.html" %></li>
    <li><%= link_to "Leadership", "/about/leadership.html" %></li>
    <li><%= link_to "FAQs", "/about/faqs.html" %></li>
  </ul>
</nav>
